@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  text-align-last: right;
  text-align: justify;
}

.checkers {
  /* Initial checkerboard pattern */
  background: repeating-conic-gradient(#25555e 0% 25%, transparent 0% 50%) 50% /
    20px 20px;
}
.checkers-big {
  background: repeating-conic-gradient(#25555e 0% 25%, transparent 0% 50%) 50% /
    40px 40px; /* Increased size to make checkers bigger */
}
.checkers-mixed {
  background: repeating-conic-gradient(#25555e 0% 25%, transparent 0% 50%) 50% /
      40px 40px,
    repeating-conic-gradient(#3a7d8a 0% 25%, transparent 0% 50%) 50% / 20px 20px;
}

.wave {
  --s: 80px; /* control the size*/
  --c1: #02555e;
  --c2: #cc8983;

  --l: var(--c1) 99%, #0000 101%;
  --p: var(--c2) 99%, #0000 101%;
  --r: closest-corner at;
  background: radial-gradient(var(--r)-25% 25%, var(--p)),
    radial-gradient(var(--r) 25% -25%, var(--p)),
    radial-gradient(var(--r) 125% 75%, var(--p)),
    radial-gradient(var(--r) 75% 125%, var(--p)),
    radial-gradient(var(--r) 75% 75%, var(--l)),
    radial-gradient(var(--r) 25% 25%, var(--l)) var(--c2);
  background-size: var(--s) var(--s);
}
